<nav class="navbar navbar-dark bg-secondary">
  <a class="navbar-brand" href="http://localhost:3000/">Account Login</a>
</nav>
<h1 style="text-align: center">Account Login</h1>

<form action="/" method="post">

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
  <h3 style="text-align: center">{{failMessage}}</h3>
</form>